.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-content h1 {
  font-weight: 800;
  font-size: 108px;
  line-height: 102px;
}

.hero-content p {
  font-weight: 600;
  color: var(--gray);
  max-width: 400px;
}

.hero-buttons {
  display: flex;
  gap: 40px;
}

.hero-buttons button {
  font-size: 22px;
}

.outline-btn {
  background: transparent;
  color: var(--gray);
  border: 1px solid gray;
}

.shopping p {
  font-size: 14px;
  margin-bottom: 8px;
}

.brand-icons {
  display: flex;
  gap: 16px;
}
